{% extends "layout.html.twig" %}
{% block css %}
	<link href="../css/alerte.css" media="screen" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="../css/annonces.css">
{% endblock %}
{% block body %}
	<form method="get" id="menu_recherche" action="#">
		<input type="hidden" name="tri" value=""/>
		<input type="text" class="input_recherche" name="keywords" placeholder="Tapez votre recherche" value="" />
		<select id="dep" name="reg" class="select_recherche">
			<option selected>La région</option>
			{% for region in regions|keys %}
				<option value="{{ region }}">{{ region }}</option>
			{% endfor %}
		</select>
		<input type="text" class="input_recherche" name="zip_code" placeholder="Code postal (ex:61000)" value="" />
		<select id="opt" name="cat" class="select_recherche">
					<option selected>Choisir...</option>
					{% for category_key, category_value in categories %}
						<optgroup label="{{ category_key }}">
						{% for subcategory_key, subcategory_value in category_value %}
							<optgroup label="---{{ subcategory_key }}---">
								{% for animal in subcategory_value %}
									<option value="{{ animal }}">{{ animal }}</option>
								{% endfor %}
							</optgroup>
						{% endfor %}
						</optgroup>
					{% endfor %}
				</select>
		<input class="bouton_search" type="submit" value="Lancer la recherche" />
	</form>
	{% for query_key, query_val in querys %}
		
		<div class="container miniAnnonce">
			<div>
				<a class="row" href="/annonceDetail">
					<div class="col-3">
						<img class="item_image" src="{{ asset(query_val.url) }}" alt="loup"/>
					</div>
					<div class="col-9"> 
            			<h5>{{ query_val.title }}</h5>
            			<p>{{ query_val.name }}</p>
	            		<p>{{ query_val.region }}</p> 
	            		<p>{{ query_val.price }} €</p>
            		</div>
				</a>									
			</div>	
		</div>
	{% endfor %}	


	</div>
	<div class="container miniAnnonce">
		<div>
			<a class="row" href="#">
				<div class="col-3">
					<img class="item_image" src="img/loup.jpg" alt="loup"/>
				</div>
				<div class="col-9"> 
            		<h5>Vends loup volant (très rare)</h5>
            		<p>Oiseaux-canins</p>
	            	<p>Basse-Normandie</p> 
	            	<p>prix : 25000 €</p>
            	</div>
			</a>									
		</div>		
	</div>
{% endblock %}