{% block css %}
	<link href="../css/nav.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}


<nav class="navbar navbar-expand-lg navbar-light perso">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('annonces') }}">Annonces<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('AproposDeNous') }}">A propos de nous</a>
      </li>
    </ul>
    <hr class="hr">
		{{ userName }}
			
		{% if userName == '' %}	
				<a class="btn btn-outline-dark my-2 my-sm-0" href="{{ path('inscription') }}">Inscription</a>
				<a class="btn btn-outline-dark my-2 my-sm-0" href="{{ path('login') }}">Connexion professionnelle</a>
		{% endif %}
		{% if userName != '' %}	
				<br><a class="btn btn-outline-dark my-2 my-sm-0" href="{{ path('formulaireAnnonce') }}">Ajouter annonce</a>
				<a class="btn btn-outline-dark my-2 my-sm-0" href="{{ path('logout') }}">Déconnexion</a>
		{% endif %}

  </div>
</nav>





