{% block css %}
	<link href="../css/nav.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}


<nav class="navbar navbar-expand-lg navbar-light perso">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('annonces') }}">Annonces<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('AproposDeNous') }}">A propos de nous</a>
      </li>
    </ul>
		{{ userName }}
			
		{% if userName == '' %}	
			<form class="form-inline my-2 my-lg-0" method="post"  action="{{ path('inscription') }}">
				<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Inscription</button>
			</form>

			<form class="form-inline my-2 my-lg-0" method="get"  action="{{ path('login') }}">
				<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Connexion professionnels</button>
			</form>
		{% endif %}
		{% if userName != '' %}	

			<form class="form-inline my-2 my-lg-0" method="post"  action="{{ path('formulaireAnnonce') }}">
				<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Ajouter annonce</button>
			</form>

			<form class="form-inline my-2 my-lg-0" method="post"  action="{{ path('logout') }}">
				<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Déconnexion</button>
			</form>
		{% endif %}

  </div>
</nav>





